Flask==3.0.3
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-Bcrypt==1.0.1
Flask-WTF==1.2.1
Flask-Mail==0.10.0
APScheduler==3.10.4
SQLAlchemy==2.0.30
Werkzeug==3.0.3

# Optional (tests)
pytest==8.2.2
pytest-flask==1.3.0

